spring:
  application:
    name: kabal-document
  main:
    banner-mode: OFF
  web:
    resources:
      add-mappings: false
  datasource:
    url: jdbc:postgresql://${NAIS_DATABASE_KABAL_DOCUMENT_KABAL_DOCUMENT_HOST}:${NAIS_DATABASE_KABAL_DOCUMENT_KABAL_DOCUMENT_PORT}/${NAIS_DATABASE_KABAL_DOCUMENT_KABAL_DOCUMENT_DATABASE}
    username: ${NAIS_DATABASE_KABAL_DOCUMENT_KABAL_DOCUMENT_USERNAME}
    password: ${NAIS_DATABASE_KABAL_DOCUMENT_KABAL_DOCUMENT_PASSWORD}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    schemas: flyway_history_schema,document
    clean-disabled: true
  lifecycle:
    timeout-per-shutdown-phase: 20s
  servlet:
    multipart:
      max-request-size: 1MB
      max-file-size: 1MB
  codec:
    max-in-memory-size: 512MB
  sql:
    init:
      platform: postgresql

server:
  port: 7094
  error:
    whitelabel:
      enabled: false
  shutdown: graceful

management:
  health:
    elasticsearch:
      enabled: false
  endpoint:
    health:
      show-details: always
  endpoints.web:
    exposure:
      include: info, health, metrics, prometheus
    base-path: "/internal"
  metrics:
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true
  tracing:
    enabled: false

no.nav.security.jwt:
  issuer:
    aad:
      discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
      accepted_audience: ${AZURE_APP_CLIENT_ID}
  client:
    registration:
      saf-maskintilmaskin:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: client_credentials
        scope: api://${SAF_SCOPE}/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      pdl-maskintilmaskin:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: client_credentials
        scope: api://${PDL_SCOPE}/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      dokarkiv-onbehalfof:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
        scope: api://${DOKARKIV_SCOPE}/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      dokarkiv-maskintilmaskin:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: client_credentials
        scope: api://${DOKARKIV_SCOPE}/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      kabal-file-api-maskintilmaskin:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: client_credentials
        scope: api://${NAIS_CLUSTER_NAME}.${NAIS_NAMESPACE}.${KABAL_FILE_API_APP_NAME}/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      dokdist-maskintilmaskin:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: client_credentials
        scope: api://${DOKDIST_SCOPE}/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt

KABAL_FILE_API_BASE_URL: http://kabal-file-api
KABAL_FILE_API_APP_NAME: kabal-file-api

KLAGE_UNLEASH_PROXY_URL: http://klage-unleash-proxy

ORGANISASJONSNUMMER_TRYGDERETTEN: 974761084